@import url('https://fonts.googleapis.com/css?family=Quattrocento');

@-ms-viewport {
  width: device-width;
}

body {
  color: #211717;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #fff;
  display: flex;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
}

.main {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 40px 20px;
  padding-bottom: 122px;
}

.title-container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  text-align: center;
}

.hero .nav {
  padding: 15px 0;
}

.title {
  font-family: 'Quattrocento';
  font-size: 48px;
  line-height: 1;
  font-weight: 300;
  margin: 0;
}

.subtitle {
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
  margin-top: 5px;
  color: #211717;
  line-height: 1.125;
  font-weight: 300;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
  background-color: #fff;
}

.nav {
  padding: 15px 0;
  box-shadow: 0 -1px 0 rgba(219, 219, 219, .3);
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  min-height: 50px;
  text-align: center;
}

a.nav-item {
  text-decoration: none;
  color: #211717;
  transition: color 0.3s linear 0s;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
}

a.nav-item:hover {
  color: #a34a28;
}

.icon {
  font-size: 28px;
  height: 32px;
  line-height: 32px;
  width: 32px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

.fa-linkedin:before {
  content: "\f0e1";
}

.fa-github:before {
  content: "\f09b";
}
